@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

.cv {
  background-color: #353535;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-decoration: none;
  border-radius: 10px;
  font-weight: 600;
  padding: 10px 20px;
  transition: all .5s;
  border: #8E69F4 solid 2px;
  margin-bottom: 10px;
}



.case,
.caseR,
.detalhes,
.slider,
.tecs,
.home {
  display: hidden;
}

#infos {
  width: 100%;
  color: #ffffff;
  height: 300px;
}

.gradient {
  background-color: #272333 !important;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar-track {
  background-color: #F4F4F4;
}

::-webkit-scrollbar {
  width: 17px;
  background: rgba(244, 244, 244, 0);
}

::-webkit-scrollbar-thumb {
  background: #353535;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  background-color: #211e29;
  overflow-y: scroll;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

header {
  background-color: #0C0B0F;
  display: flex;
  padding: 0 60px;
  align-items: center;
  width: 100%;
  height: 100px;
  justify-content: space-between;
  z-index: 2;
  position: fixed;
}

.logo {
  width: 100px;
  height: 100%;
}

.logoh1 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 2em;
  color: #ffffff;
}



nav {
  display: flex;
  -moz-column-gap: 5px;
  column-gap: 5px;
}

header nav a {
  background-color: #353535;
  width: 80px;
  height: 35px;
  border: solid #ffffff 1px;
  border-radius: 10px;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}


.atual {
  border: solid #8E69F4 2px !important;
}

.home {
  color: #ffffff;
  padding: 50px 50px 50px 50px;
  display: flex;
}



.title {
  width: 100%;
  height: 500px;
  background-position: 50% 50%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.title h1 {
  color: #ffffff;
}

.paralax {
  width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}


.projetos .title.paralax {
  background-image: url("https://images.unsplash.com/photo-1466786784937-3e682c802b14?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=465&q=80");
}

.sobre .title.paralax {
  background-image: url("https://images.unsplash.com/photo-1472162314594-eca3c3d90df1?dpr=1&auto=format&fit=crop&w=1500&h=1001&q=80&cs=tinysrgb&crop=");
}

.parte1 {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  row-gap: 180px;
  width: 60%;
}

.apresentaçao {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

h1 {
  color: #8E69F4;
  font-size: 4.1em;
}

h2 {
  font-size: 2em;
  font-weight: 300;
}

h3 {
  font-size: 1.6em;
  font-weight: 400;
}

.coment {
  border: #8E69F4 solid 1px;
  padding: 20px;
  width: 600px;
  border-radius: 10px;
  margin-top: 10px;
  font-size: 1.2em;
  line-height: 25px;
}

.parte2 {
  justify-content: center;
  width: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
  padding-top: 100px;
}

.avatar {
  width: 300px;
  height: 300px;
}

.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}


video {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: solid #8E69F4 3px !important;
}


.tecs {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  color: #ffffff;
  font-weight: 500;
  padding: 40px;
  row-gap: 30px;
  width: 100%;
}

span {
  font-size: 30px;
}

.imgs {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 60px;
  column-gap: 60px;
}

.imgs img {
  width: 55px;
  height: 55px;
  cursor: pointer;
  transition: all .6s;
}

.imgs img:hover {
  scale: 1.4;

}

.adjust {
  width: 65px !important;
  height: 65px !important;
}


.projetos {
  color: #ffffff;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  padding: 5px 20px;

}

.description p {
  font-size: 1.2em;

}

.description a {

  color: #8E69F4;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  width: 3em;
  border-bottom: solid rgba(142, 105, 244, 0) 3px;
  padding-bottom: 3px;
  width: 100px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  align-items: center;
  height: 26px;
}


strong img {
  width: 20px;
  height: 20px;
  background-color: #8E69F4;
  border-radius: 20px;
}

strong {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 5px;
  column-gap: 5px;
}

.description h2 {
  font-weight: 400;
  color: #ffffff;
}

.case {
  display: flex;
  width: 100%;
  height: 500px;
  align-items: center;
  padding: 50px;
}

.case .video {
  width: 50%;
  display: flex;
  align-items: center;
}

.video video {
  height: 100%;
  width: 72%;
  transition: all 0.6s;
}


.case .description {
  width: 50%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 40px;
}

.caseR {
  display: flex;
  width: 100%;
  height: 500px;
  align-items: center;
  padding: 50px;
}

.caseR .video {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.caseR .description {
  width: 50%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 40px;
}

.video img {
  height: 100%;
  width: 72%;
  border-radius: 10px;
  transition: all 0.6s;
  cursor: pointer;
  border: solid #8E69F4 3px;
}


.video video:hover {
  scale: 1.1;
}

.video img:hover {
  scale: 1.1;
}


.sobre {
  color: #ffffff;
  padding: 100px 0px 50px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.sobre h3 {
  font-size: 1.5em;
}

.p1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

}

.p2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  padding-top: 110px;
}

.imgPerfil {
  width: 125px;
  height: 125px;
}

.imgPerfil img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  position: absolute;
  bottom: 85%;
  border: solid #8E69F4 4px;
}

.detalhes {
  margin: 150px 0;
  max-width: 800px;
  border: solid #8E69F4 3px;
  border-radius: 10px;
  padding: 0px 60px 60px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detalhes p {
  padding-top: 20px;
  line-height: 30px;
  text-indent: 30px;
  text-align: justify;
}

.logo2 {
  width: 100px;
  height: 110px;
  margin-bottom: 20px;
}

.logo2 img {
  width: 100%;
  height: 100%;
}

.slider {
  width: 450px;
  height: 270px;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  transition: all .6s;

}

.slider:hover {
  scale: 1.1;

}


.slides {
  width: 3600px;
  height: 100%;
  display: flex;
  row-gap: 50px;
  transition: all 1.5s;
}

.slides img {
  width: 450px;
  height: 100%;
  display: flex;
  transition: all 1s;
}

.bals {
  display: flex;
  -moz-column-gap: 25px;
  column-gap: 25px;
}

.bals p {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  background-color: rgba(255, 255, 255, 0.527);
  cursor: pointer;
}


.atual2 {
  background-color: #ffffff !important;
}

.forms {
  height: 100px;
}

footer {
  background-color: #0c0b0fcb;
  height: 100px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  justify-content: center;
}


.contato {
  display: flex;
  -moz-column-gap: 10px;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
}



.contato img {
  background-color: #8E69F4;
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 10px;
  transition: all .5s;
}

footer #data,
p {
  color: #ffffff;
  font-size: 15px;
}

.meu-nome::after {
  content: "|";
  margin-left: 5px;
  opacity: 1;
  -webkit-animation: pisca 0.7s infinite;
  animation: pisca 0.7s infinite;
}

@-webkit-keyframes pisca {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@keyframes pisca {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@media (max-width: 1023px) {
  .home {
    width: 100%;
    flex-direction: column;
    padding: 70px 20px 0 20px;
  }

  .parte1 {
    width: 100%;
    align-items: center;

  }

  main .perfilImg {
    margin-left: 0px;
  }

  h1 {
    font-size: 3.7em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1em;
  }

  .coments {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .coment {
    width: 55%;
    margin-top: 10px;
    line-height: 22px;
  }

  .parte2 {
    padding: 40px 0px 0px 0px;
    width: 100%;
    align-items: center;


  }

  .destaque {
    width: 80%;
    height: 100%;
    margin-bottom: 40px;
  }

  .projetos {
    color: #ffffff;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .description p {
    font-size: 1em;
  }

  .description a {
    font-size: 1.2em;
  }

  .description {
    width: 90%;
  }

  .parte1 {
    row-gap: 60px;
  }

}

@media (max-width: 768px) {
  .caseR {
    height: 400px;
  }

  .case {
    height: 400px;
  }

  .coment {
    width: 95%;
    font-size: 1.3em;
  }

  .imgs {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-column-gap: 30px;
    column-gap: 30px;
  }

  video {
    scale: 1.4;
  }

  .video img {
    scale: 1.4;
  }

  .video video:hover {
    scale: 1.5;
  }

  .video img:hover {
    scale: 1.5;
  }



  /*Sobre*/
  .sobre {
    padding: 100px 0px 50px 0px;
  }

  .sobre h3 {
    font-size: 1.1em;
  }

  .detalhes {
    margin: 100px 0;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
  }

  .detalhes p {
    padding-top: 0px;
    line-height: 20px;
    text-indent: 0px;
    text-align: left;
  }

  .logo2 {
    display: none;
  }

  .logo2 img {
    width: 100%;
    height: 100%;
  }

  .parte1 {
    row-gap: 60px;
  }
}

@media (max-width: 480px) {
  video {
    scale: 1.0;
  }

  .video img {
    scale: 1.0;
  }

  .video video:hover {
    scale: 1.1;
  }

  .video img:hover {
    scale: 1.1;
  }

  .parte1 {
    row-gap: 60px;
  }

  header {
    background-color: #0C0B0F;
    display: flex;
    padding: 0 20px;
    align-items: center;
    width: 100%;
    height: 100px;
    justify-content: space-evenly;
    position: fixed;
    z-index: 2;
  }

  .logo {
    width: 100px;
    height: 100%;
  }

  header nav a {
    width: 60px;
    height: 32px;
    font-size: 13px;
  }

  /* Home */
  /* Projetos */
  .projetos {
    color: #ffffff;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .description p {
    font-size: 1em;
  }

  .description a {
    font-size: 1.2em;
  }

  .description {
    width: 90%;
    height: 200px;
  }

  .case {
    flex-direction: column;
    width: 100%;
    height: 500px;
    padding: 20px 20px 20px 20px;
  }

  .caseR {
    flex-direction: column-reverse;
    width: 100%;
    height: 500px;
    padding: 20px 20px 20px 20px;
  }

  .case .video {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .case .video video {
    width: 80%;
  }

  .caseR .video video {
    width: 80%;
  }

  .caseR .video {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .case .description {
    width: 100%;
    height: 320px;
  }

  .caseR .description {
    width: 100%;
    height: 320px;
  }

  .video img {
    width: 80%;
  }

  /*Sobre*/
  .sobre h3 {
    font-size: 1.1em;
  }

  .detalhes {
    margin: 40px 0;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
  }

  .detalhes p {
    padding-top: 20px;
    line-height: 20px;
    text-indent: 0px;
    text-align: left;
  }

  .imgPerfil {
    position: static;
    margin-bottom: 10px;

  }

  .imgPerfil img {
    position: static;

  }

  .logo2 {
    display: none;
  }

  .logo2 img {
    width: 100%;
    height: 100%;
  }

  .bals {
    display: flex;
    -moz-column-gap: 25px;
    column-gap: 15px;
  }

  .slider {
    width: 300px;
    height: 230px;
    display: flex;
    overflow: hidden;
    border-radius: 10px;
  }

  .slides {
    width: 2400px;
    height: 100%;
    display: flex;
    row-gap: 50px;
    transition: all 1.5s;
  }

  .slides img {
    width: 300px;
    height: 100%;
    display: flex;
    transition: all 1s;
  }

  .tecs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    color: #ffffff;
    font-weight: 500;
    padding: 40px;
    row-gap: 30px;
  }

  span {
    font-size: 30px;
  }

  .imgs {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-column-gap: 30px;
    column-gap: 30px;
  }

  .imgs img {
    width: 35px;
    height: 35px;
    cursor: pointer;
  }

  .adjust {
    width: 45px !important;
    height: 45px !important;
  }

  h1 {
    font-size: 2.7em;
  }
}

/*# sourceMappingURL=style.css.map */
